asgiref==3.3.1
asn1crypto==1.4.0
cffi==1.14.5
configparser==5.0.2
cryptography==3.4.6
dj-database-url==0.5.0
Django==3.1.7
django-crispy-forms==1.11.1
django-cronjobs==0.2.3
django-crontab==0.7.1
django-heroku==0.3.1
entrypoints==0.3
enum34==1.1.10
futures==3.1.1
greenlet==1.0.0
gunicorn==20.0.4
importlib-metadata==3.7.2
ipaddress==1.0.23
jeepney==0.6.0
keyring==23.0.0
keyrings.alt==4.0.2
msgpack==1.0.2
neovim==0.3.1
pip-upgrade-outdated==1.5
psycopg2==2.8.6
psycopg2-binary==2.8.6
pycairo==1.20.0
pycparser==2.20
pycrypto==2.6.1
PyGObject==3.30.5
pynvim==0.4.3
python-dotenv==0.15.0
pytz==2021.1
pyxdg==0.27
SecretStorage==3.3.1
six==1.15.0
sqlparse==0.4.1
typing-extensions==3.7.4.3
whitenoise==5.2.0
zipp==3.4.1
